<div class="chat">
  <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
    <div class="chat__title">
      <h4 class="chat__title__htitle">Olá, sou sua IA assistente da Books Store!</h4>
      <p class="chat__title__subtitle">Como posso te ajudar?</p>
    </div>
    <div class="chat__message">
      <textarea class="chat__message__content" id="mensagem" formControlName="mensagem"></textarea>
    </div>
    <div class="chat__submit">
      <button class="chat__submit__btn" type="submit">Enviar Mensagem</button>
    </div>
  </form>
</div>
