.chat {
  display: flex;
  position: absolute;
  background: #334452dd;
  padding: 1vw;
  padding-bottom: 2vw;
  border-radius: 1vw 1vw 0 0;
  margin-right: 1vw;
  bottom: 0;
  right: 0;

  form {
    width: 20vw;
  }

  &__title {
    padding-bottom: 1.2vw;

    &__htitle {
      font-size: 1;
    }

    &__subtitle {
      font-size: 1.4;
      margin-top: .1vw;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      width: 80%;
      height: 10vh;
      border-radius:.3vw;
      padding:1vw 1vh;
    }
  }

  &__submit {
    margin-top: 10px;

    &__btn {
      width: 50%;
      height: 4vh;
      background-color: #2b353d;
      color: #fff;
      border-radius:.3vw;
      border:0;

      &:hover {
        background-color:#334452;
      }
    }
  }
}
